body{
    padding: 0;
    margin: 0;
}
.header_container img{
    width: 100%;
}
.profile{
    width: 40%;
    background-color: #f2f6f8;
    box-shadow: 0px 5px 10px 0px rgba(0, 47, 104, 0.1);
    margin: auto;
    padding: 1%;
    margin-top: 11px;
}
.profile .profile_picture{
  text-align: center;
}
.profile .profile_picture img{
    width:100px;
    height: 100px;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px;
    position: relative;
    top: -77px;
    z-index: 99;
}
.profile h2{
    text-align: center;
    color: black;
    position: relative;
    top: -42px;
    font-size: 23px;
}
@media only screen and (max-width: 1080px) {
    .profile{
        width: 60%;
    }
}
@media only screen and (max-width: 780px) {
    .profile{
        width: 80%;
    }
}
.chat_container{
    margin: auto;padding: 1%;box-shadow: 0px 0px 8px;
}
#chatbox{
    padding: 2%;
    height:40vh;
    background-color:#092f7d;
}
#chatbox p{
    font-size: 20px;
    background-color: white;
    padding: 1%;
    border-radius: 0px 10px 10px 25px;
    text-align: center;
    width: fit-content;
    color: black;
}