body{
	background-color:#FFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
	font-size:16px;
	line-height:18px;
	color:#777;
}
.right_body{
    width: 90% !important;
    margin: auto;
}
.left-sidebar {
    background-color: #0a0612;
    min-height: 100%;
    width: 18%;
    position: fixed;
    left: -17%;
    z-index: 99 !important;
}
.left-sidebar:hover{
    left: 0%;
}
.doctor_procceses{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px;
    background-color: white;
    padding: 1px !important;
    margin: auto;
}
.doctor_procceses2{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px;
    background-color: white;
    padding: 1px !important;
   
}
.doctor_procceses p, .doctor_procceses2 p{
    font-size: 21px;
    font-family: auto;
}
.doctor_procceses p a ,.doctor_procceses2 p a{
    color: #000;
}
.doctor_procceses p a:hover, .doctor_procceses2 p a:hover{
    color:blue;
    text-decoration: underline;
}
#admin_logout_btn{
    width: 100%;
    background-color: blue;
    padding: 3%;
    text-align: center;
    margin-top: 10%;
    font-size: 22px;
    font-family: auto;
}
#admin_logout_btn2{
    width: 100%;
    background-color: blue;
    padding: 3%;
    text-align: center;
    margin-top: 11%;
    font-size: 22px;
    font-family: auto;
}
#admin_logout_btn a , #admin_logout_btn2 a{
   color: white;
}
.responsive_logo{
    display: none ;
}
.responsive_panel{
    display: none;
}
.blank-div{
    display: none;
}

@media screen and (max-width: 1220px) { 
   .left-sidebar{
        display: none;
    }
    .blank-div{
        display: block !important;
        height: 425px !important;
    }
    .responsive_logo{
        display: block;
    }
    .responsive_panel{
        display: block;
        display: flex;
        padding: 1%;
        background-color: black;
    }
    .responsive_logo{
        background-color: black;
        text-align: center;
        padding: 1%;
    }
    .responsive_logo h1{
      color: white;
    }
    .responsive_doctor_profile{
        width: 33%;
        text-align: center;
    }
    .responsive_doctor_procceses{ 
        width: 33%;
        text-align: center;
        box-shadow: 0px 0px 10px;
        background-color: rgb(255, 255, 255);
        font-family: auto;
        font-size: 21px;
    }
    table thead{
        font-size: 12px;
    }
    .responsive_doctor_procceses #inner{ 
        padding: 2%;
        font-size: 19px;
    }
    .responsive_doctor_procceses p{
        margin-top: 18px;
    }
    .responsive_doctor_procceses p a{
        color: #000;
    }
    .responsive_doctor_procceses p a:hover{
        color:blue;
        text-decoration: underline;
    }
    #responsive_admin_logout_btn{
        background-color: blue;
        height: 23px;
        width: 30%;
        text-align: center;
        padding: 20px;
        margin-left: 34px;
    }
    #responsive_admin_logout_btn a{
        color: white;
        position: relative;
        top: -15px;
        font-size: 19px;
    }
    .right_body{
        margin: auto !important;
        width: 96% !important;
    }
    .t_body{
        font-size: 13px !important;
    }
  }

/* adding admin form */
.big-box li{
    list-style: none;
    text-align: center;
}












